* {
    border:        none;
    border-radius: 0;
    font-family:   "JetBrainsMono Nerd Font";
    font-size:     15px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
    color: #ffffff;
    margin: 0 5px;
}

#workspaces button {
    padding: 0 15px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: transparent;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#battery, #network, #pulseaudio{
    margin:     0px 10px 0px 10px;
    min-width:  25px;
}

#backlight{
  margin-right: 10px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width:  140px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}
